@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

body{
    background-color: #f5f5f5;
    font-family: 'Andika New Basic', sans-serif;
    perspective: 1000px;
    overflow: hidden;
}

header{
    display: flex;
    height: 50px;
    margin-bottom: 90px;
}


button{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    font-size: 20px;
    color:#192DA1;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: 700;
}

.nav{
    margin-top: -9px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    background-color:#dddddd;
    height: 50px;
    z-index: 1;
    left: -10px;
}

#left-nav{
    display: flex;
    align-items: center;
    color:#192DA1;
    font-size: 30px;
}

.logo{
    width: 70px;
    height: 60px;
    transition: none;
    position: fixed;
}


.dropdown-btn{
    color: #69607F;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    right: 440px;
    width: 60px;
    font-weight: bold;
}

.dropdown-content a {
    color: #192DA1;;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
   color: #0788D9;
}
.git-link {
    margin-top: 5px;
}


.dropdown-btn:hover, 
.dropdown-btn:focus, 
.play-bttn:hover, 
.play-bttn:focus, 
.find-bttn:hover,
.find-bttn:focus{
    background-color: lightgray;
}

.show {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color: #DDDDDD;
    width: 100px;
    right: 315px;
    top: 45px;
    border-radius: 4px;
    padding-bottom: 4px;
}

p{
    text-align: center;
    font-size: 45px;
    color: #192DA1;
    font-family: 'Andika New Basic', sans-serif;
    text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    transition: all 0.75s ease-out
}

#container{
    display: block;
    margin: 0 auto;
    width: 60vw;
    height: 60vh;
}

#content{
    transform-style: preserve-3d;
    width: 40vw;
    margin: 0 auto;
    box-shadow: 0px 10px 10px rgba(105, 96, 127), 0px 0px 50px rgba(105, 96, 127);
    border-radius: 5px;
}

footer {
   position: fixed;
   left: -8px;
   bottom: -158px;
   width: 100vw;
   background-color: #DDDDDD;
   color: #192DA1;
   text-align: center;

}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: -8px;
    top: -8px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color:#E6E8F5;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#chartdiv{
    top: auto;
    left: auto;
    right: auto;
    width: 590px;
    height: 590px;
    margin: 0 auto;
}

#title {
    cursor: pointer;
}